.header {
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--purple)
}

.navlinks {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--white-text);
  text-decoration: none;
}

.navlinks a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navlinks a:hover {
  color: var(--purple);
}

.navlinks a:visited, a:active {
  color: inherit;
}


.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .navlinks {
    display: none;
  }
  
  .menuButton {
    display: block;
  }

  .log{
    font-size: 1.0rem;
  }
}